# 빌드 산출물
build/
.gradle/
.idea/

# 크롤링 관련 폴더 전체 제외 (마운트로 사용)
src/crawling/

# resources 내 동적/마운트용 폴더
src/main/resources/temp/
src/main/resources/minutes/
src/main/resources/posts/

# 대용량 또는 바이너리 파일
*.log
*.zip
*.hwp
*.csv
*.wav

# 민감 정보
.env
application-*.yml

# Git
.git/
.gitignore
