.idea/
*.iml
*.ipr
*.iws
.vscode/

/build/
out/
target/

*.log

.env
*.env

src/main/resources/minutes/
src/main/resources/posts/
src/main/resources/temp/
src/main/resources/univ/

*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

/test-output/
*.class

ehthumbs.db
Icon?
Desktop.ini

.gradle/
.mvn/
!gradle/wrapper/gradle-wrapper.jar
